:root {
   --primary:#146EB4;
   --secondary: #1E2640;
   --hover-blue: #0E4F82;
   --text:#D2D4D9;
   --gray-light:#D9D9D9;
   --heading:#1A181E;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 14rem;
    background-color: var(--secondary);
    box-sizing: border-box;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem 0.625rem;
    justify-content: center;
}
/* Profile container styling */
.profile-container {
    width: 12rem;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 2.625rem;
    box-sizing: border-box;
    column-gap: 0.725rem;
    padding-left: 0.4rem;
}
.profile-image {
    width: 2.625rem;
    height: 100%;
    border-radius: 0.25rem;
    grid-row: 1 / span 2;
}
.profile-container span {
    font-weight: bold;
    font-size: 0.9375rem;
}
.profile-container small {
    font-size: 0.8125rem;
    text-decoration: underline;
    grid-column-start: 2;
    align-self: end;
    color: var(--text);
}
 .arrow-head {
    grid-column-start: 3;
    grid-row:1 / span 2;
    align-self: center;
}

/* Navbar styling */
.navbar-container {
    list-style: none;
    padding-inline-start: 0px;
    align-self: start;
}
.navbar-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.775rem;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    transition: 300ms ease-in-out;
}
.navbar-text {
    align-self: center;
    font-size: 0.775rem;
    color: var(--text);
}
.navbar-list-item:hover,.highlighted-nav-item {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.10);
    cursor: pointer;
}
/* Credtis container styling */
.credits-container {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #353C53;
    border-radius: 4px;
    column-gap: 0.725rem;
    row-gap: 0.4rem;
    width: 12rem;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
}
.credits-container svg {
    grid-row: 1 / span 2;
    align-self: center;
    padding: 0.375rem;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 4px;
}
.credits-container span {
    align-self: end;
    font-size: 0.8125rem;
}
.credits-container b {
    align-self: start;
    grid-column-start: 2;
}

/* Main container components */
.main-container {
    flex-grow: 1;
    background-color: #FAFAFA;
}

/* Header styling */

.header {
    border-bottom: 1px solid #D9D9D9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0.75rem 2rem;
    background-color: white;
}
.payouts-container {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}
.payouts-container b {
    font-size: 1.25rem;
    color: var(--heading);
    font-weight:500;
}
.help-container {
    display: flex;
    gap: 0.375rem;
}
.help-container small {
    font-size: 0.75rem;
    color: #4D4D4D;
    line-height: 1rem;
}
.help-container small:hover {
    cursor: pointer;
    text-decoration: underline;
}
.search-container {
    align-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 6px;
    color: #808080;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    padding: 0.5625rem 1rem;
    margin: 0.75rem 0;
}
.search {
    border: none;
    background-color: #F2F2F2;
    outline: none;
}
.search:focus {
    border:none ;
}
.header-buttons-container {
    align-self: center;
    justify-self: end;
    display: flex;
    gap: 0.75rem;
}
/* Main Section styles */
.main-content-container {
    margin: 2rem;
}
.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.overview b {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}
.overview select {
    width: 8.5625rem;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #4D4D4D;
    text-align: center;
}
.overview select:hover {
    cursor: pointer;
}

/* Card styling */
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
    margin-bottom: 3.325rem;
}
.card {
    padding: 1.25rem;
    display: grid;
    row-gap:1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.card header {
    display: flex;
    gap: 0.5rem;
}
.card-main-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.card-main-section h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.375rem;
    margin: 0;
}
.card-main-section span {
    justify-self: end;
    text-decoration: underline;
    color: var(--primary);
    font-weight: 500;
    line-height: 1.5rem;
}
.card-main-section span:hover {
    cursor: pointer;
}
.payout-card {
    background-color: var(--primary);
    border-radius: 0.5rem;
    color: white;
    position: relative;
}
#payout-orders {
    color: white;
}
.payout-card-footer {
    position: absolute;
    bottom: 0;
    background-color: var(--hover-blue);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    margin-bottom: -1.325rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}
.payout-date {
    color: #F2F2F2;
}

/* Transactions styles */
.tag {
    padding: 0.375rem 1rem;
    border-radius: 40px;
    background-color: #E6E6E6;
    color:#808080;
    margin-right: 0.5rem;
}
.blue-tag {
    border-radius: 40px;
    padding: 0.375rem 1rem;
    background-color: var(--primary);
    color:white;

}

/* Orders styles */
.orders-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.order-search-container {
    align-items: center;
    background-color: white;
    border-radius: 6px;
    border:1px solid #D9D9D9;;
    color: #999;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    padding: 0.625rem 1rem;
    margin: 0.75rem;
    width: 15.5rem;
}
.order-search {
    border: none;
    background-color: white;
    outline: none;
}
.order-button-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.icon {
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    padding: 0.5rem;
}
.sort-button {
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    padding: 0.38rem 0.75rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 0.38rem;
}
.icon:hover,.sort-button:hover {
    cursor: pointer;
}